h1{
  margin-bottom: 1.2rem;
}

:host{
  width: 900px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  border: 1px solid #000;
  border-right: none;
  border-left: none;
  border-radius: 20px;
  margin-bottom 20px
}