.component{
  margin-bottom: 3rem;
  padding: 20px;
  border: solid 1px #666;
  border-radius: 20px;
  width: 100%
  .component-header{
    display: block;
    overflow: hidden;
    .header{
      margin: 0;
      padding-bottom: 10px;
    }
  }
  .component-content{}
}
