<template-borders [title]="title" [description]="description">




  <form (ngSubmit)="createTasks()" >

    <div class="form-group">
      <label for="firstName"> FirstName : </label>
      <!-- Каждый элемент использует id для связи с label
           и атрибут name, для того, чтобы Angular Form фссоциировал
           элемент управления с формой -->
      <input id="firstName" type="text" class="form-control" required
            [(ngModel)]="objectSimpleForm.firstName" name="firstName" >
    </div>


    <div class="form-group">
      <label for="age"> Age : </label>
      <input id="age" type="text" class="form-control" required
             [(ngModel)]="objectSimpleForm.age" name="age" >
    </div>


    <div class="form-group">
      <label for="role"> Role : </label>
      <select id="role" class="form-control" required
              [(ngModel)]="objectSimpleForm.role" name="role" >
        <!-- *ngFor - звездочка ето структурная деректива которая изменяет HTML шаблон -->
        <option *ngFor="let r of roles" [value]="r"> {{r}} </option>
      </select>
    </div>



    <button type="submit" class="btn btn-primary" >Submit</button>
    <button type="reset" class="btn btn-warning" >reset</button>
  </form>








  <!-- Тут выводятся введенные изменения и Список созднанных обьектов -->
  <template-list [title]="title" [addNewObject]="objectSimpleForm" [submit]="submit"></template-list>

</template-borders>
